!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title Single Malt

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags

  %body{ class: page_class }
    %section{ role: 'main' }
      .row
        .large-3.columns
          %h3 Philip Duffy
          %h6.subheader
            All opinions on this page are strictly plagiarized.

          %ul.side-nav
            %li= link_to 'Things', things_path
            %li= link_to 'Past', experiences_path
            %li= link_to 'Github', 'https://www.github.com/philduffy'
            %li= link_to 'Twitter', 'http://www.twitter.com/willmanduffy'

            %li= link_to 'New Thing', new_manage_thing_path
            %li= link_to 'New Experience', new_manage_experience_path

        .large-9.columns
          = yield

    = javascript_include_tag 'application'
